@font-face {
  font-family: gameFont;
  src: url(../fonts/moderntale.woff);
}

body {
  margin: 0;
  padding: 0;
  background-color: #222222;
  min-height: 100vh;
  font-family: gameFont;
  color: white;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-family: gameFont;
  background-color: #222222;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 48px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px;
}

h1 {
  font-size: 72px;
  margin: 0;
  padding: 0;
}

button:hover {
  background-color: #ffffff;
  color: #222222;
}

.menu {
  display: none;
}

.optionsScreen {
  display: none;
  padding: 25px;
  border: 1px white solid;
}

.optionsScreen input {
  background-color: white;
  font-family: gameFont;
  font-size: 48px;
  cursor: pointer;
  margin: 10px;
}

.musicOption {
  font-size: 22px;
}

.musicOption h2 {
  margin: 10px 0;
}

.voiceOption {
  font-size: 22px;
}

.optionMenu {
  margin-top: 15px;
}

.optionBtns {
  font-size: 22px;
  margin: 0 10px;
}



/* voice acting switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: green;
}

input:checked+.slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}