@font-face {
  font-family: gameFont;
  src: url(../fonts/moderntale.woff);
}

body {
  margin: 0;
  padding: 0;
  background-color: #222222;
  min-height: 100vh;
  font-family: gameFont;
  color: white;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2em;
  font-size: 24px;
}

button {
  font-family: gameFont;
  background-color: #222222;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 48px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px;
}

h1 {
  font-size: 72px;
  padding: 0;
}

button:hover {
  background-color: #ffffff;
  color: #222222;
}

div {
  display: none;
  border: 1px solid white;
  padding: 25px;
}

.launchButton {
  display: block;
}

.giphy-embed {
  display: none;
}

/* ///////////// */
/* ///// */
/* options menu */
/* ///// */
/* ///////////// */

.optionsScreen {
  padding: 25px;
  border: 1px white solid;
}

.optionsScreen input {
  background-color: white;
  font-family: gameFont;
  font-size: 48px;
  cursor: pointer;
  margin: 10px;
}

.musicOption {
  font-size: 22px;
}

.musicOption h2 {
  margin: 10px 0;
}

.voiceOption {
  font-size: 22px;
}

.optionMenu {
  margin-top: 15px;
}

.optionBtns {
  font-size: 22px;
  margin: 0 10px;
}

/* voice acting switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ///////////// */
/* ///// */
/* Intro screen */
/* ///// */
/* ///////////// */

.intro {
  padding: 0 30px 30px 30px;
  border: 1px solid white;
}

.classSelect article {
  display: flex;
}

.classes {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
}

.classes:hover {
  cursor: pointer;
  transform: scale(0.9);
  border: 1px solid rgb(197, 182, 182);
}

.playerChoice {
  flex-direction: column;
}

/* ///////////////// */
/* ///// */
/* combat screen */
/* ///// */
/* ///////////////// */
.combat {
  grid-template-columns: 1fr 1fr;
}

.attackOverlay {
  display: block;
  position: fixed;
  z-index: 9999;
  background-color: rgba(0, 0, 0);
  padding: 20px;
  box-sizing: border-box;
  max-width: 300px;
  color: #fff;
}
/* ///////////////// */
/* ///// */
/* map screen */
/* ///// */
/* ///////////////// */
#map {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
}

.room {
  position: absolute;
  width: 80px;
  height: 80px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  color: white;
  text-align: center;
  line-height: 80px;
  font-size: 16px;
}

.room-clickable {
  background-color: #5d5d5d !important;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 10px #000;
}

.room-clickable:hover {
  background-color: #424242 !important;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 10px #433d3d;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}
